Repository jenkinsci/embeddable-build-status-plugin, pull requests merged in 2022-11, with the labels that each got.

#129 Simplify pom
  pom.xml
Labels: chore

#133 Prevent loop when parameter value contains parameter name
  src/main/java/org/jenkinsci/plugins/badge/extensions/SpecialValueParameterResolverExtension.java
  src/test/java/org/jenkinsci/plugins/badge/extensions/SpecialValueParameterResolverExtensionTest.java
Labels: bug

#137 Always test with container agents in CI
  Jenkinsfile
Labels: test

#138 Test all CI configurations to completion
  Jenkinsfile
Labels: chore
