Repository jenkinsci/embeddable-build-status-plugin, pull requests merged in 2022-07, with the labels that each got.

#89 Enable dependabot
  .github/dependabot.yml
Labels: skip-changelog

#92 Add CONTRIBUTING file
  CONTRIBUTING.md
Labels: skip-changelog

#86 Replace Verdana font for metrics calculation
  .gitignore
  src/main/java/org/jenkinsci/plugins/badge/StatusImage.java
  src/main/webapp/fonts/Bitstream-Vera-Sans-Roman.ttf
  src/main/webapp/fonts/verdana.ttf
  src/test/java/org/jenkinsci/plugins/badge/StatusImageTest.java
Labels: bug

#74 Configure automated plugin releases
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/cd.yaml
  .mvn/maven.config
  pom.xml
Labels: enhancement

#94 Simplify documentation
  README.md
Labels: enhancement

#95 [JENKINS-69019] Use expected version number
  pom.xml
Labels: bug

#87 Add gitpod development configuration
  .gitignore
  .gitpod.Dockerfile
  .gitpod.yml
  .vscode/settings.json
Labels: skip-changelog

#96 chore: Use icon from core
  src/main/java/org/jenkinsci/plugins/badge/actions/JobBadgeAction.java
  src/main/java/org/jenkinsci/plugins/badge/actions/RunBadgeAction.java
  src/main/webapp/images/shield.svg
Labels: enhancement

#101 Add nullability annotations
  src/main/java/org/jenkinsci/plugins/badge/JobBadgeActionFactory.java
  src/main/java/org/jenkinsci/plugins/badge/RunBadgeActionFactory.java
  src/main/java/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep.java
Labels: skip-changelog

#100 Replace deprecated APIs
  src/main/java/org/jenkinsci/plugins/badge/StatusImage.java
  src/main/java/org/jenkinsci/plugins/badge/actions/PublicBuildStatusAction.java
Labels: skip-changelog
