Repository jenkinsci/embeddable-build-status-plugin, pull requests merged in 2022-10, with the labels that each got.

#122 Test Jenkins 2.361.2 and Jenkins 2.374
  Jenkinsfile
Labels: skip-changelog

#123 Exclude mockito from packaging
  pom.xml
Labels: bug

#125 Improve automated test coverage #114 - Add test for classes in default package
  src/test/java/org/jenkinsci/plugins/badge/JobBadgeActionFactoryTest.java
  src/test/java/org/jenkinsci/plugins/badge/ParameterResolverTest.java
  src/test/java/org/jenkinsci/plugins/badge/RunBadgeActionFactoryTest.java
Labels: chore
