Repository jenkinsci/embeddable-build-status-plugin, pull requests merged in 2023-12, with the labels that each got.

#267 Replace <b> tags with <strong>, stop using color in text
  README.md
  src/main/resources/org/jenkinsci/plugins/badge/actions/JobBadgeAction/index.jelly
  src/main/resources/org/jenkinsci/plugins/badge/actions/JobBadgeAction/index.properties
  src/main/resources/org/jenkinsci/plugins/badge/actions/RunBadgeAction/index.jelly
  src/main/resources/org/jenkinsci/plugins/badge/actions/RunBadgeAction/index.properties
Labels: documentation

#268 Combine extension point documentation
  README.md
Labels: documentation

#269 Use consistent documentation headings
  README.md
Labels: documentation

#270 Add table of contents
  README.md
Labels: documentation

#266 Remove unused file and CSS selectors
  src/main/resources/org/jenkinsci/plugins/badge/actions/JobBadgeAction/ClickHandler.js
  src/main/webapp/css/design.css
Labels: bug

#272 Added tests for GetSubject to increase test coverage
  src/test/java/org/jenkinsci/plugins/badge/EmbeddableBadgeConfigTest.java
Labels: tests

#273 Use spotbugs plugin 4.8.2.0
  pom.xml
  src/spotbugs/excludesFilter.xml
Labels: dependencies, skip-changelog

#275 Omit spotbugs CT_CONSTRUCTOR_THROWS visitor
  pom.xml
  src/spotbugs/excludesFilter.xml
Labels: chore

#279 Add online help for addEmbeddableBadgeConfig Pipeline step
  src/main/resources/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep/help-animatedOverlayColor.html
  src/main/resources/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep/help-color.html
  src/main/resources/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep/help-id.html
  src/main/resources/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep/help-link.html
  src/main/resources/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep/help-status.html
  src/main/resources/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep/help-subject.html
  src/main/resources/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep/help.html
Labels: documentation, developer
