Repository jenkinsci/embeddable-build-status-plugin, pull requests merged in 2023-02, with the labels that each got.

#161 Rely on artifact caching proxy default setting
  Jenkinsfile
Labels: chore

#168 Use one-column layout
  src/main/resources/org/jenkinsci/plugins/badge/actions/JobBadgeAction/index.groovy
  src/main/resources/org/jenkinsci/plugins/badge/actions/RunBadgeAction/index.groovy
Labels: enhancement

#169 [JENKINS-70602] Do not overwrite system font on examples page
  src/main/resources/org/jenkinsci/plugins/badge/actions/JobBadgeAction/ClickHandler.js
  src/main/resources/org/jenkinsci/plugins/badge/actions/JobBadgeAction/index.groovy
  src/main/resources/org/jenkinsci/plugins/badge/actions/RunBadgeAction/index.groovy
  src/main/webapp/css/design.css
Labels: bug
