Repository jenkinsci/embeddable-build-status-plugin, pull requests merged in 2023-07, with the labels that each got.

#207 Adapt 'l.css' removal in Jenkins 2.401 onwards
  src/main/resources/org/jenkinsci/plugins/badge/actions/JobBadgeAction/index.groovy
  src/main/resources/org/jenkinsci/plugins/badge/actions/RunBadgeAction/index.groovy
Labels: enhancement

#211 Match dependabot definition to GitHub docs
  .github/dependabot.yml
Labels: chore

#215 Replace public repo with releases repo
  pom.xml
Labels: chore

#218 Use plugin bom 2278.v47b_4508e256a
  pom.xml
Labels: dependencies
