Repository jenkinsci/embeddable-build-status-plugin, pull requests merged in 2024-12, with the labels that each got.

#363 Add test for PublicBuildStatusAction class and fixed a typo
  src/main/java/org/jenkinsci/plugins/badge/actions/PublicBuildStatusAction.java
  src/test/java/org/jenkinsci/plugins/badge/actions/PublicBuildStatusActionTest.java
Labels: tests

#346 Require Jenkins 2.479.1 or newer
  pom.xml
  src/main/java/org/jenkinsci/plugins/badge/EmbeddableBadgeConfig.java
  src/main/java/org/jenkinsci/plugins/badge/StatusImage.java
  src/main/java/org/jenkinsci/plugins/badge/actions/EmbeddableBadgeConfigsAction.java
  src/main/java/org/jenkinsci/plugins/badge/actions/JobBadgeAction.java
  src/main/java/org/jenkinsci/plugins/badge/actions/PublicBuildStatusAction.java
  src/main/java/org/jenkinsci/plugins/badge/actions/RunBadgeAction.java
  src/main/java/org/jenkinsci/plugins/badge/extensions/BuildParameterResolverExtension.java
  src/main/java/org/jenkinsci/plugins/badge/extensions/SpecialValueParameterResolverExtension.java
  src/test/java/org/jenkinsci/plugins/badge/actions/RunBadgeActionTest.java
Labels: rfe

#366 Added tests for AddEmbeddableConfigStepTest class and changed AddEmbeddableBadgeConfigStep class
  src/main/java/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStep.java
  src/test/java/org/jenkinsci/plugins/badge/dsl/AddEmbeddableBadgeConfigStepTest.java
Labels: tests

#367 Add test for PublicBuildStatusAction to increase coverage
  src/test/java/org/jenkinsci/plugins/badge/actions/PublicBuildStatusActionTest.java
Labels: tests

#368 Remove developers section from pom file
  pom.xml
Labels: chore
